@media print {
    #top_bar_fr {
        width: 1000px;
    }
    #top_group {
        margin-left: 50px;
    }
    .navbar {
        width: 100%;
        height: 130px;
    }
    .navbar a {
        padding: 10px;
    }
    #inside_banner {
        width: 700px; 
    }
    .headline, .notice {
        width: 900px;
    }
    #banner_video {
        display:none;
    }
    .banner {
        background: none;
        height: 400px;
    }
    .search_form {
        padding-top: 10px;
    }
    .btn_group {
        display: none;
    }
    .airport_content {
        width: 100%;
    }
}