
/* small size */ 
@media only screen and (max-width: 1200px) {
    #banner_video {
        display: none;
    }
    .navbar img {
        display: none;
    }
}
/* small laptop screen */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    #top_bar_fr {
        width: 1000px;
    }
    #top_group {
        margin-left: 50px;
    }
    .navbar {
        width: 1024px;
    }
    .navbar a {
        padding: 10px;
    }
    #inside_banner {
        width: 700px; 
    }
    .headline, .notice {
        width: 900px;
    }
    .airport li {
        width: 200px;
    }

    .airport li a {
        width: 170px;
        font-size: 14px;
    }
    .airport_content {
        width: 100%;
    }
    #banner_fr {
        width: 1000px;
    }
    .slogan {
        margin-left: 15px;
    }
    .app_info {
        height: 230px;
    }
}

/*mobile & tablet*/
@media only screen and (max-width: 1023.9px) {
    .navbar {
        width: 100%;
        height: 350px;
    }
    .navbar a {
        width: 100%;
        display: block;
        border-bottom: 1px solid white;
        padding: 5px;
    }
    #top_bar_fr {
        width: 320px;
        margin: 0 auto;
    }
    #top_group {
        float:none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .navbar i {
        font-size: 150%;
        float: left;
    }
    .navbar a span {
        position: absolute;
        margin-left: 40px;
    }
    .headline, .notice {
        width: 100%;
    }
    .notice {
        box-sizing: border-box;
    }
    .main_content {
        width: 100%
    }
    .airport_content {
        width: 100%;
    }
    .airport li {
        width: 200px;
    }

    .airport li a {
        width: 170px;
        font-size: 14px;
    }

    .tablink {
        display: block;
        width:  100%;
    }
    #category {
        overflow: scroll;
    }
    .info_col {
        float:none;
        width: 70%;
    }
   .app_col {
       float:none;
       width: 100%;
       height: 150px;
       border: 1px solid white;
       box-sizing: border-box;
   }
   .app_info {
       height: 450px;
   }
   #app_cont {
       width: 100%;
   }
   #inside_banner {
       width: 700px;
   }
}

/* mobile size */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    #inside_banner {
        display: none;
    }
    .small_search {
        display: block;
    }
    .form_select {
        width: 250px;
        margin-left: 30px;
    }
    .in_form {
        margin-left:  30px;
        background-color: tomato;
        color: darkblue; 
        padding: 5px;
        margin-top: 20px;
    }
   .new_ip {
       height: 20px;
       width: 40px;
       background-color: bisque;
       margin-bottom: 5px;
   }
   .search_btn {
       float: none;
       margin-left: 70px;
       margin-top: 0;
   }
   .banner {
       height: 560px;
   }
}

