body, html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;   
}

body a {
    color: black;
}
.top_bar {
    background-color: seagreen;
    height: 35px;
    color:white;
}

.top_bar .slogan {
    margin-left: 10%; 
    display: inline-block;
    margin-top: 10px;
}

.top_bar .btn_group {
    margin-left: 25%;
}

.btn_group .top_button {
    background-color:wheat;
    border: none;
    color: black;
    cursor: pointer;
    height: 25px;
    border-radius: 5%;
}

.top_button:hover {
    background-color: rgb(255, 245, 226);
}

.top_bar .dropdown {
    margin-top: 5px;
    display: inline-block;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    color: black;
    background-color: lavender;
    height: 25px;
}

.top_bar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(70, 119, 70);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: darkseagreen;
    padding: 5px;
}

.dropdown-content a:hover {
    background-color: lightyellow;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: rgb(240, 240, 247);
    text-align: center;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 80%;
    height: 75px;
}
  
.navbar a {
    float: left;
    padding: 12px;
    color: darkslategray;
    text-decoration: none;
    text-align: center;
    width: 80px;
}
  
.navbar a:hover {
    background-color: lightyellow;
}
  
.banner {
    background-image: url("./image/search_banner.jpg");
    background-position: top;
    min-width: 100%;
    min-height: 52%;
}
.banner .search_box {
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: whitesmoke;
    opacity: 0.9;
    height: 350px;
    width: 650px;
    display: inline-block;
    border-radius: 2%;
}

.form_select_btn {
    background-color: darkslategray;
    border: none;
    color: blanchedalmond;
    cursor: pointer;
    height: 30px;
    border-radius: 5%;
}

.form_select_btn:hover {
    background-color: slategray;
}

.form_select {
    background-color: lavender;
    font-family: inherit;
    font-size: 16px;
    width: 270px;
    height: 30px;
}

.form_select_seat {
    background-color: lavender;
    font-family: inherit;
    font-size: 16px;
    width: 150px;
    height: 30px;
}

.form_input {
    background-color: lavender;
    font-family: inherit;
    font-size: 16px;
    width: 50px;
    height: 30px;
    border:none;
}

.search_btn {
    background-color: maroon;
    border: none;
    color: wheat;
    cursor: pointer;
    height: 40px;
    width: 230px;
    border-radius: 5%;
    text-align: center;
    float: right;
    font-size: 14px;
    margin: 5px;
}

.search_btn:hover {
    background-color: rgb(95, 11, 11);
}

.headline {
    border-left: 8px solid seagreen;
    font-size: 20px;
    border-spacing: 15px;
    border-bottom: 1px solid seagreen;
    padding-left: 20px;
    color: seagreen;
    height: 30px;
}

.main_content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.best_price {
    text-align: center;
    color: black;
    margin: 0 auto;
    width: 80%;
    
}

.best_price td {
    padding: 8px;
    margin: 10px;
    height: 90px;
    width: 100px;
}

.best_price a {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.price {
    font-size: 20px;
    color: red;
}

.route {
    background-color: seagreen;
    height: 25px;
    color:wheat;
    padding: 5px;
}

.best_price_btn {
    border: 1px solid grey;
    border-radius: 5%;
    padding-bottom: 10px;
    background-color: mintcream;
    height: 90px;
}

.best_price_btn:hover {
    background-color:moccasin;
}

.list {
    list-style-type: square;
}
.list a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    
}
.list li {
    margin-top: 20px;
}
.list a:hover {
    color: royalblue;
}

.tablink {
    background-color:seagreen;
    color:wheat;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    height: 30px;
    padding-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    text-align: center;
}

.tablink:hover {
    background-color: teal;
}

.tabcontent {
    color: black;
    display: none;
}

.airlines {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

#category {
    list-style-type: none;
    overflow: hidden;
    height: 200px;
}

#category li {
    float: left;
    overflow: hidden;
}

#category li a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
}

#category li:hover {
    background-color: antiquewhite;
}

.question {
    background-color:lightcyan;
    color:firebrick;
    font-size: 18px;
    width: 80%;
    height: 25px;
    padding: 5px;
    font-family: inherit;
    border: none;
    text-align: center;
    margin-left: 10%;
    overflow: hidden;
    margin-top: 20px;
    font-weight: bold;
}
/*
.question:hover {
    background-color: firebrick;
}
*/
.answer {
    color: black;
    /*display: none;*/
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    background-color: lightgoldenrodyellow;
}

.notice {
    background-color: gainsboro;
    padding: 10px;
    border: 1px solid white;
}

.airport_content {
    width: 1300px;
    margin: auto;
}

.header {
    height: 20px;
    padding: 5px;
    color: white;
}

.airport {
    list-style-type: none;
    overflow: hidden;
}

.airport li {
    float: left;
    overflow: hidden;
    width: 310px;
}

.airport li a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
    width: 280px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.airport li a:hover {
    background-color: antiquewhite;
}

.airport_blue, .airport_blue .airport li a {
    border: 1px solid royalblue;
}
.airport_blue .header {
    background-color: royalblue;
}

.airport_red, .airport_red .airport li a {
    border: 1px solid firebrick;
}

.airport_red .header {
    background-color: firebrick;
}

.airport_green, .airport_green .airport li a {
    border: 1px solid teal;
}

.airport_green .header {
    background-color: teal;
}

.airport_brown, .airport_brown .airport li a {
    border: 1px solid darkgoldenrod;
}

.airport_brown .header {
    background-color: darkgoldenrod;
}

.info_col {
    float: left;
    width: 40%;
    padding: 10px;
    height: 370px;
    overflow :hidden;
}

.info {
    margin-left: 15%;
    display: block;
}
.info:after {
    content: "";
    display: table;
    clear: both;
}
.app_info {
    background-color: gainsboro;
    margin: auto;
    height: 200px;
    overflow: hidden;
}

.app_col {
    float: left;
    width: 300px;
    padding: 10px;
    height: 200px;
    overflow :hidden;
    border-left: 1px solid white
}

.app_col .head {
    color: royalblue;
    font-size: 20px;
}

.footer {
    background-color: darkslategray;
    height: 250px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
}

.link_option {
    overflow: hidden;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 700px;;
    height: 75px;
}
  
.link_option a {
    float: left;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-left: 1px solid white;
}

.copyright {
    background-color: honeydew;
    height: 30px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: darkslategray;
    vertical-align: middle;
    line-height: 30px;
}