body, html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;   
}
.top_bar {
    background-color: seagreen;
    height: 35px;
    color:white;
}

.top_bar .slogan {
    margin-left: 10%; 
    display: inline-block;
    margin-top: 10px;
}

.top_bar .btn_group {
    margin-left: 25%;
}

.btn_group .top_button {
    background-color:wheat;
    border: none;
    color: black;
    cursor: pointer;
    height: 25px;
    border-radius: 5%;
}

.top_button:hover {
    background-color: rgb(255, 245, 226);
}

.top_bar .dropdown {
    margin-top: 5px;
    display: inline-block;
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    color: black;
    background-color: lavender;
    height: 25px;
}

.top_bar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(70, 119, 70);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    background-color: darkseagreen;
    padding: 5px;
}

.dropdown-content a:hover {
    background-color: lightyellow;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
   
    background-color: rgb(240, 240, 247);
    overflow: auto;
    text-align: center;
    margin: 10px 200px 10px 150px;

}
  
.navbar a {
    float: left;
    padding: 12px;
    color: darkslategray;
    text-decoration: none;
    text-align: center;
    width: 80px;
}
  
.navbar a:hover {
    background-color: lightyellow;
}
  
.banner {
    background-image: url("./image/search_banner.jpg");
    background-position: top;
    min-width: 100%;
    min-height: 60%;
}
.banner .search_box {
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    opacity: 1;
    height: 400px;
    width: 700px;
    display: inline-block;
    border-radius: 2%;
}
.search_box .search_form
{
    background-color: transparent;
}
.search_box .video {
    margin-left: 110%;
    margin-top: 3%;
    height: 300px;
    width: 550px;
}

.form_select_btn {
    background-color:lavenderblush;
    border: none;
    color: black;
    cursor: pointer;
    height: 25px;
    border-radius: 5%;
}

.form_select_btn:hover {
    background-color: bisque;
}

.form_select {
    background-color: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width: 250px;
    height: 30px;
}

.form_input {
    background-color: lightcyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width: 50px;
    height: 30px;
    border:none;
}
