* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel .slideFrame {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-color: honeydew;
}

.carousel .slideFrame .itemFrame .image img {
   width: 100%;
}
.carousel .slideFrame .itemFrame {
    float: left;
    margin-left: 10px;
    display: inline-block;
    overflow: visible;
    margin-top: 10px;
  
}
.carousel a.prev, .carousel a.next {
	padding: 5px;
	text-decoration: none;
    background-color: khaki;
    border-radius: 5px;
    top: 50%;
    opacity: 0.8;
    display: inline-block;
    font-size: 25px;
    color: darkred;
    font-style: bold;
}
.carousel .slideBtn {
    top: 50%;
    position: absolute;
    width: 100%;
}
.carousel a.next {
	float: right;
}

.carousel .itemFrame .image p {
    position: absolute;
    background: gainsboro;
    text-align: center;
    font-size: 18px;
    display: block;
    margin-top: -30px;
}

#slide {
    list-style-type: none; 
}

.play, .stop {
	padding: 10px;
	text-decoration: none;
    background-color: gainsboro;
    border-radius: 5px;
    border:none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}

.details {
    background-color: blanchedalmond;
    position: relative;
    background: blanchedalmond;
    width: 100%;
    text-align: center;
    font-size: 18px;
   
}

.details p {
    color: black;
    padding: 10px;
    overflow: hidden;
}

